body {
  margin: 0;
  font-family: 'Staatliches', cursive;
  background-color: #000000;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
